.Button {
background-color: rgb(255, 38, 9);
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
transition: background-color 0.3s ease;

}

.padding {
padding: 10px 20px;
}